{% extends 'image_mngt/base/main.html' %}
{% block subtitle %}Add{% endblock subtitle %}
{% block content %}
{% include 'core/includes/messages.html' %}
    <div class="card">
        <div class="card-body">
            <form enctype='multipart/form-data' novalidate method='POST'>
                {% include 'core/includes/form_render.html' with form=form title='Record details' only  %}
                {% if form %}
                    <div class='mt-3'>
                        {% csrf_token %}
                        <button class='btn btn-primary'>Submit</button>
                    </div>
                    {% else %}
                    <div class='mt-3'>
                        <p>No form provide.</p>
                    </div>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock content %}